pre {
  border-left: 3px solid #646cff;
  border: 1px solid #ddd;
  color: #666;
  display: block;
  font-family: monospace;
  overflow: auto;
  padding: 1.5em;
  text-align: start;
  white-space: pre-wrap;
  width: 65%;
  word-wrap: break-word;
}
