.wrap {
  width: 30%;
  margin-bottom: 10px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  border-radius: 8px 0 0 8px;
  border-right: none;
  border: 1px solid #007acc;
  font-size: 16px
  font-weight: 600;
  height: 20px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.searchTerm:focus {
  background-color: lightgrey;
  color: black;
}


.searchButton {
  align-items: center;
  background: white;
  border-left: none;
  border-radius: 0 8px 8px 0;
  border: 1px solid #007acc;
  color: #007acc;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 30px;
  justify-content: center;
  text-align: center;
  width: 40px;
}

.searchButton:focus,
.searchButton:hover {
  cursor: initial;
}

